html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body{
  margin:0 !important;
  height: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
   ========================================================================== */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
   ========================================================================== */
details,
menu {
  display: block;
}

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
canvas {
  display: inline-block;
}

template {
  display: none;
}

/* Hidden
   ========================================================================== */
[hidden] {
  display: none;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

.btn-group-span{
  position: absolute;
  margin-top: 3vh;
  margin-left: 12vh;
}

#scrollBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1E2832; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/*===============================
=            Choices            =
===============================*/

.topbar{
  background-color: white;
  width: 100vw;
  height: 12vh;
  position:absolute;
  left:0;
  top:0;
  right:0;
  box-shadow: 0px 10px 6px #E0E0E0;
}

.our-title{
  font-size: 3vw;
  position: absolute;
  color: #2D95DF;
  top:2vh;
  left: 2vw;
}

.links{
  text-decoration: none;
}

.small{
  display: inline-block;
}

/*global span*/

.hovering {
  float: left;
  margin-top: 2vh;
  margin-left: -6vw;
}
.hovering:hover button{
  background-color: #2567F5;
}

.hovering:hover i{
  color: white;
}

/* input search bar */
.inner-form > input{
  width: 50vw;
  height: 7vh;
  padding: 2.4%;
  border-radius: 21px;
  border: 0px;
  float: left;
  background-color: #E0E0E0;
  margin-top: 2vh;
}

.inner-textarea{
  height: 10vh;
  border-radius: 0.25rem;
  border: 0px;
  float: left;
  background-color: #E0E0E0;
  width: 98%;
  margin-bottom: 4%;
}

.inner-path > input{
  width: 50vw;
  height: 7vh;
  padding: 2.4%;
  border-radius: 21px;
  border: 0px;
  float: left;
  background-color: #E0E0E0;
  margin: 6vh 20vh 6vh 20vh;
}

input:focus{
    outline: none;
}

.white{
  color: white;
}

button:focus{
    outline: none;
}

.no-focus:focus{
  outline: none;
}

.search-btn{
  height: 7vh;
  width: 6.5vw;
  border-radius: 21px;
  border: 0px;
  background-color: #E0E0E0;
  vertical-align: center;
  text-align: center;
}

.mar-left{
  margin-left: 22vw;
}

.fa, .fas{
  font-size: 200%;
  margin-top: 0.1vh;
}

.fa-file-image-o {
  font-size: 225%;
  color: white;
  padding-top: 5%;
  margin-left: 6%;
  float: left;
}

.fa-user, .fa-folder-open{
  padding-right: 10%;
}

.pointer{
  cursor: pointer;
}

.child {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.buttonAlign {

}
.buttonDiv {
  display: inline-block;
  margin-bottom: 1%;
  width: 100%;
  align-items: center;
}
.buttonMargin {
  margin-right: 2%;
  border-radius: 10px;
  border: none;
   height: 12vh;
}

.buttonMargin:hover{
  background-color: #2567F5 !important;
}

#firstButton {
  width: 18vw;
  margin-left: 18%;
  background-color: #2D95DF;
  color: white;
  text-align: center;
}

#secondButton {
  width: 18vw;
  background-color: #2D95DF;
  color: white;
  text-align: center;
}

#thirdButton {
  width: 18vw;
  background-color: #2D95DF;
  color: white;
  text-align: center;

}

.buttonText {
  margin-top: 10%;
}

.main{
  padding-top: 15vh;
  margin-top: -1.2vh;
  background-image: url("../img/bg-texture.png");
  background-color: rgba(248, 249, 250, 0.5);
  min-height: 150vh;
}

.bg-mine{
  background-color: rgba(248, 249, 250, 0.5);
}
#editTagsIcon {
  margin-left: 2%;
  font-size: 100%;
  color: #0d6efd;
  cursor: pointer;
}

.imageThumbnail {
  margin: 2% 25% 6% 25%
}
.imageThumbnailInMenu {
  object-fit: cover;
}
.imagePath {
  margin: 2% 0%;
}

/* Rename Profiles Modal */
.modal-body1{
    /*display: grid !important;*/
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 4%;
}

.modal-body > input[type="text"]{
  margin-bottom: 10%;
  height: 7vh;
  width: 100%;
  padding: 2.4%;
  border-radius: 21px;
  border: 0px;
  float: left;
  background-color: #E0E0E0;
  margin-top: 2vh;
}

.modal-body > label{
  display: none;
}

.modal-body select{
  padding: 2% 2% !important;
  border: none;
  border-radius: 5px;
  background-color: #dee0e2 !important;
}

.modal-body select:focus{
  border: none;
}


/*Add source folders Modal*/
.insert-btn{
  float: right;
  width: 40%;
  margin: 1%;
}

.insert-btn select {
  padding: 1vh 1.3vw !important;
  margin-top: 3%;
}

.folder-list{
  float: left;
  width: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.folder-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.folder-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Search by Image Modal */
.modal-footer{
  width: 100% !important;
  flex-flow: row;
}

/*===============================
=       Folders MGMT Page       =
===============================*/

.center-small{
    display: block;
    background-color: white;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 0 10px #E0E0E0;
    width: 80vw;
}

table{
  margin-top: 13vh;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
}

.f1{
  background-color:#1E2832;
  border-radius: 3px;
  padding: 0% 1vw;
  width: 5vw;
  text-align: center;
}

.f1 i{
  color: white;
  padding-right: 0% !important;
  font-size: 140%;
}

.fa-redo{
  background-color:#1E2832;
  border-radius: 3px;
  padding: 1.4vh 1.4vw;
  text-align: center;
  color: white;
  font-size: 140%;
}

fa.redo:hover{
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite;
}

.f1 .fa-folder-open{
  display: none;
}

.f1:hover .fa-folder-open{
  display: inline;
}

.f1:hover .fa-folder{
  display: none;
  color: white;
}

.f1:hover{
  /*-webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;*/
  cursor: pointer;
}

.f2{
  padding: 2vh 2vw;
  width: 50vw;
  vertical-align: middle;
}

.f2 p{
  margin-bottom: 0% !important;
}

.f3{
  width: 8vw;
  text-align: center;
}

.c40{
  font-size: 140%;
}

.delete-btn{
  color: #1E2832;
  border: none !important;
}

.delete-btn:hover{
  color: #0a58ca;
  border: none !important;
}

.whiteLink, .whiteLink:hover{
  color:white;
  text-decoration: none;
}

/*===============================
=       Buttons Animation       =
===============================*/

@-webkit-keyframes swing {
  25% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  75% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes rotational {
  25%{
    -ms-transform: rotate(25deg);
  }
  50%{
    -ms-transform: rotate(50deg);

  }
  75%{
    -ms-transform: rotate(75deg);
  }
  100%{
    -ms-transform: rotate(100deg);
  }

}


/*===============================
=       People MGMT Page       =
===============================*/

.toggle-on{
  margin-left: -4% !important;
}

.toggle-off{
      margin-left: 4% !important;
}

.center-smallest span {
    border-radius: 100%;
    width: 14%;
}
.toggle {
  border-radius: 17px;
  border: 0px;
  height: 0.5vh !important;
}

.importantcontainer input{
  padding: 1%;
  border-radius: 1px;
  border: 0px;
  background-color: #E0E0E0;
  margin: 0.4%;
  height: 6vh !important;
}

.importantcontainer img{
  border-radius: 100%;
  height: 8vh;
}

.center-smallest {
    display: block;
    background-color: white;
    margin: 15vh auto;
    padding: 4vh 4vw;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 0 10px #E0E0E0;
    width: 50vw;
}

/*===============================
=            Sidebar            =
===============================*/

.nav-item{
  margin-bottom: 5vh !important;
}

.main-sidebar{
  box-shadow: 0px 10px 6px #E0E0E0;
  background-color: white;
  height: 135vh;
  width: 16vw;
  padding-top: 3vh;
}

.main-sidebar i{
    font-size: 2vw;
    margin-right: 1vw;
}

.sadnav-item:hover{
  background-color: #E0E0E0;
  border-radius: 10px;
}

/*===============================
=          Grid Layout          =
===============================*/

.mygrid{
  position: absolute;
  left: 15vw;
  display: grid;
  grid-template-columns: 6vw 16vw 3vw 16vw 3vw 16vw 3vw 16vw ;
  grid-template-rows: 5vh 20vh 10vh 40vh 10vh 40vh;
}

.locations-div{
  background-image: url("../img/compass-fill.svg");
  background-size: 30%;
  background-position: 90% 85%;
  background-repeat: no-repeat;
  background-color: #5baee5;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 25px;
  box-shadow: 1px 10px 6px #E0E0E0;
}

.people-div{
  background-image: url("../img/person-bounding-box.svg");
  background-size: 30%;
  background-position: 90% 85%;
  background-repeat: no-repeat;
  background-color: #0c819c;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 25px;
  box-shadow: 1px 10px 6px #E0E0E0;
}

.scenes-div{
  background-image: url("../img/geo-fill.svg");
  background-size: 30%;
  background-position: 90% 85%;
  background-repeat: no-repeat;
  background-color: #703770;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 25px;
  box-shadow: 1px 10px 6px #E0E0E0;
}

.obj-div{
  background-image: url("../img/box-seam.svg");
  background-size: 30%;
  background-position: 90% 85%;
  background-repeat: no-repeat;
  background-color: #334553;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 25px;
  box-shadow: 1px 10px 6px #E0E0E0;
}

.piechart{
  padding: 7% 0% 0% 7% !important;
  grid-column-start: 6;
  margin-left: 3vw;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 10px 6px #E0E0E0;
}

.barchart{
  padding: 7% 0% 0% 7% !important;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 10px 6px #E0E0E0;
  overflow: hidden;
}

.stats-text{
  color: white;
  font-weight: bold;
  margin-top: 4vh;
  margin-left: 2vw;
}


/*===============================
=          Gallery Page          =
===============================*/

.centerGalleryDiv {
  width: 60%;
  margin: 0 auto;
}