{% extends 'topbar.html' %}
{% load static %}

{% block content %}
    <!-- Main Sidebar Container -->
  <aside style="position: absolute; top: 12vh;" class="main-sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="sadnav-item nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fas fa-map-marked-alt"></i>
              <span>
                Locations
              </span>
            </a>
          </li>
          <li class="sadnav-item nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fas fa-search-location"></i>
              <span>
                Scenes
              </span>
            </a>
          </li>
          <li class="sadnav-item nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <span>
                People
              </span>
            </a>
          </li>
          <li class="sadnav-item nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fas fa-cubes"></i>
              <span>
                Objects
              </span>
            </a>
          </li>
          <li class="sadnav-item nav-item">
            <a href="{% url 'gallery' %}" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <span>
                Dates
              </span>
            </a>
          </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


    <div class="mygrid">
        <div class="locations-div">
            <h1 class="stats-text">{{ numbers.location }}</h1>
            <p class="stats-text" style="margin-top: -4vh">locations</p>
        </div>

        <div class="people-div">
            <h1 class="stats-text">{{ numbers.person }}</h1>
            <p class="stats-text" style="margin-top: -4vh">people</p>
        </div>

        <div class="scenes-div">
            <h1 class="stats-text">{{ countTagSource.places }}</h1>
            <p class="stats-text" style="margin-top: -4vh">scenes</p>
        </div>

        <div class="obj-div">
            <h1 class="stats-text">{{ countTagSource.objects }}</h1>
            <p class="stats-text" style="margin-top: -4vh">objects</p>
        </div>
        <div class="piechart">
            <div id="chart1"></div>
        </div>
        <div class="barchart">
            <div id="chart2"></div>
        </div>

    </div>
<script type="text/javascript">
    drawChart();
    function drawChart() {
        countTagsDjango = {{ counts|safe }};
        var dataPoints = [];
        var countTotal = 0;
        for (var key in countTagsDjango) {
            countTotal = countTotal + countTagsDjango[key];
        }
        for (var key in countTagsDjango) {
            dataPoints.push({ 'y': countTagsDjango[key], 'label': key, 'percentage': (countTagsDjango[key]/countTotal)*100});
        }
        var chart = new CanvasJS.Chart("chart1", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            height: 300,
            title: {
                text: "Top Most Common Tags",
                fontSize: 20,
            },
            data: [{
                type: "doughnut",
                startAngle: 25,
                innerRadius: 60,
                toolTipContent: "<b>{label}</b>: {percentage}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}",
                dataPoints: dataPoints
            }]
        });
        chart.render();

    }

    drawBarChart();
    function drawBarChart() {
        countTagSourceDjango = {{ countTagSource|safe }};
        var dataPoints = [];
        for (var key in countTagsDjango) {
            dataPoints.push({ 'y': countTagSourceDjango[key], 'label': key});
        }
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Most Common Tag Sources"
            },
            axisX: {
                interval: 1
            },
            axisY: {
                title: "Counts",
                includeZero: true
            },
            data: [{
                type: "bar",
                toolTipContent: "<b>{label}</b><br>Budget: ${y}bn<br>{gdp}% of GDP",
                dataPoints: [
                    {label: "Israel", y: 17.8, gdp: 5.8, url: "israel.png"},
                    {label: "United Arab Emirates", y: 22.8, gdp: 5.7, url: "uae.png"},
                    {label: "Brazil", y: 22.8, gdp: 1.3, url: "brazil.png"},
                    {label: "Australia", y: 24.3, gdp: 2.0, url: "australia.png"},
                    {label: "South Korea", y: 36.8, gdp: 2.7, url: "skorea.png"},
                    {label: "Germany", y: 41.1, gdp: 1.2, url: "germany.png"},
                    {label: "Japan", y: 46.1, gdp: 1.0, url: "japan.png"},
                    {label: "United Kingdom", y: 48.3, gdp: 1.9, url: "uk.png"},
                    {label: "India", y: 55.9, gdp: 2.5, url: "india.png"},
                    {label: "Russia", y: 69.2, gdp: 5.3, url: "russia.png"},
                    {label: "China", y: 215.7, gdp: 1.9, url: "china.png"},
                    {label: "United States", y: 611.2, gdp: 3.3, url: "us.png"}
                ]
            }]
        });
        chart.render();

    }
/*

    function drawBarChart() {

        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Element');
        data.addColumn('number', 'Counts');
        data.addColumn({type: 'string', role: 'style'});

        var colorcodes = ['#3366cc', '#dc3912', '#ff9900', '#109618', '#990099', '#0099c6']
        var counter = 0

        for (var key in countTagSourceDjango) {
            if(colorcodes.length > counter){
                data.addRow([key, countTagSourceDjango[key], 'color: ' + colorcodes[counter]]);
            } else{
                var randomColor = "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
                data.addRow([key, countTagSourceDjango[key], 'color: ' + randomColor]);
            }
            counter++;
        }

        var options = {
        title: "Most Common Tag Sources",
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("chart2"));
      chart.draw(data, options);
    }
*/
</script>





{% endblock %}