{% extends 'topbar.html' %}
{% load static %}

{% block content %}
<div class="results">
        <div id="exportDiv" style="display: none">
            <button style="margin: 0vh 1vw 0vh 3vw;" type="button" id="excel_btn" class="btn btn-primary">Export to excel</button>
            <button type="button" id="zip_btn" class="btn btn-primary">Export to zip</button>
        </div>
        {% for tag_cluster in results.items %}
        <div class="album py-5 bg-mine">
            <div class="container">
                <p>{{ tag_cluster.0 }}</p>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 g-6">
                    {% for image in tag_cluster.1 %}
                    {% if image.0 is not None %}
                    <div class="col">
                        <div class="card shadow-sm img_box">
                            {% with 'thumbnails'|add:'/'|add:image.0.hash|add:'.jpg' as image_static %}
                                <img class="imageThumbnailInMenu" id="{{ image.0.hash }}" src="{% static image_static %}">
                            {% endwith %}

                            <div class="card-body">
                                <p class="card-text">{{ image.0.name|truncatechars:16}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                       <button type="button" class="view btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#resultDetails{{forloop.parentloop.counter}}{{ forloop.counter }}">View</button>
                                    </div> <!--btn group-->
                                    <img class="checked_img" src="{% static '/img/check2.svg' %}">
                                </div> <!--d-flex justify-content-between align-items-center-->
                            </div> <!--card-body-->
                        </div> <!--card shadow-sm-->
                    </div> <!--col-->
                    <div class="modal fade detailsModal" id="resultDetails{{forloop.parentloop.counter}}{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Image Details</h5>
                                    <button onclick="closeModal({{ forloop.parentloop.counter }}, {{forloop.counter}})" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="imageDetailsForm" action="{% url 'updateTags' hash=image.0.hash %}" method="post" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        {% with '/thumbnails/'|add:image.0.hash|add:'.jpg' as imgPath %}
                                            <img class="imageThumbnail" src="{% static imgPath%}">
                                        {% endwith %}

                                        <i class="tagsIcon editTagsIcon fas fa-pencil-alt" title="edit tags"></i>
                                        <i class="tagsIcon addTagsIcon fas fa-plus-square" title="add new tag"></i>
                                        <div class="addTagDiv" hidden>
                                            <input type="text" class="form-control"/>
                                            <button type="button" class="addTag btn btn-primary" title="add">Add</button>
                                        </div>
                                        <div class="tagsDiv" id="{{ image.0.hash }}">
                                            {% for elem in image.1 %}
                                            <span class="tag"> #{{ elem.name }} <i hidden class="deleteIcon fas fa-times" title="delete this tag"></i></span>
                                            {% endfor %}
                                        </div>
                                        <input hidden class="postInput" type="text" name="tags">
                                        <p class="imagePath">Path: {{ image.0.folder_uri }}/{{ image.0.name }}</p>
                                        <p>Dimensions: {{ image.0.width }}x{{ image.0.height }}</p>
                                        {% if not image.0.creation_date is None %}
                                        <p class="card-text">Creation Date: {{ image.0.creation_date }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="submitBtn btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                              {% endif %}
                              {% endfor %}
                  </div> <!--row-->
            </div>
      </div>
        {% endfor %}
    {% with 'img/arrow-up.svg' as myarrow %}
        <button onclick="topFunction()" id="scrollBtn" title="Go to top"><img src="{% static myarrow %}"></button>
    {% endwith %}
</div>
<script>

    var imgs = document.getElementsByTagName('img')
        var allIds = ''
        var images = false;

    for (let i = 0; i < imgs.length; i++) {
        if (imgs[i].id === '')
            continue
        allIds += imgs[i].id + '&';
        images = true;
    }

    var selectedIds = new Set()
    var idsList = []

    if (images){
        $('#exportDiv').css('display', 'block')
    }

    $('#excel_btn').click(function (){
        var param = ''
        if (selectedIds.size > 0){
            param = idSetToString(selectedIds)
            param = param.substr(0, param.length - 1)
        }else{
            param = allIds.substr(0, allIds.length - 1)
        }

        createExportFrom("excel", param)
    })

    $('#zip_btn').click(function (){
        var param = ''
        if (selectedIds.size > 0){
            param = idSetToString(selectedIds)
            param = param.substr(0, param.length - 1)
        }else{
            param = allIds.substr(0, allIds.length - 1)
        }

        createExportFrom("zip", param)
    })

    function createExportFrom(type, param){
        var form_ = document.createElement("form");
        form_.id = "exportForm";
        form_.name = "exportForm";
        form_.method = "get";
        form_.action = "export/" + type + "/$" + param;
        document.body.appendChild(form_);
        form_.submit();
        document.body.removeChild(form_);
    }

    $(".img_box").click(function (){
        if ($(this).hasClass('selected_img')){
            $(this).removeClass('selected_img')
            $(this).find(".checked_img").css('display','none')
            selectedIds.delete($(this).children('img')[0].id)
            idsList.splice(idsList.indexOf($(this).children('img')[0].id), 1)
        }
        else{
            selectedIds.add($(this).children('img')[0].id)
            idsList.push($(this).children('img')[0].id)
            $(this).addClass('selected_img')
            $(this).find(".checked_img").css('display','block')
        }

        if (selectedIds.size === 0){
            $("#excel_btn").html('Export all to excel')
            $("#zip_btn").html('Export all to zip')
        }else{
            $("#excel_btn").html('Export to excel')
            $("#zip_btn").html('Export to zip')
        }
    })

    var edit = true;
    var add = true;

    $('.editTagsIcon').click(function (){
        if (edit){
            $('.deleteIcon').removeAttr('hidden')
        }else{
            $('.deleteIcon').attr('hidden', 'hidden')
        }
        edit = !edit
    })

    $('.addTagsIcon').click(function (){
        if (add){
            $('.addTagDiv').removeAttr('hidden')
        }else{
            $('.addTagDiv').attr('hidden', 'hidden')
        }

        add = !add
    })

    $('.deleteIcon').click(function (){
        $(this).parent() //  <span class="tag">
            .remove()
    })

    function idSetToString(set){
        var ids = ''
        set.forEach(id => {
            ids += id + '&';
        })
        return ids;
    }
    //Get the button:
    mybutton = document.getElementById("scrollBtn");

    $('.addTag').click(function (){
        var input = $(this).parent().children('input');
        var val = input.val();

        if (val === null || val.trim().length === 0)
            return false;

        const newTag = "<span class='tag'>\#" + val + "<i hidden class='deleteIcon fas fa-times' title='delete this tag'></i></span>";
        $(this).parent().parent().children('.tagsDiv').append(newTag);
        input.val("")
    })

    $('.view').click(function (){
        $('.addTagDiv').attr('hidden', 'hidden')
        $('.deleteIcon').attr('hidden', 'hidden');
        edit = add = true;
    })

    $('.submitBtn').click(function (){
        var form = $(this).parent().parent();
        var tags = form.find('.tagsDiv').children('.tag');
        var postBody = ''

        for (let i = 0; i < tags.length; i++){
            postBody += tags[i].innerText.trim().split("\n")[0]
        }

        form.find('.postInput').val(postBody)
        return true;
    })

    //Get the button:
    mybutton = document.getElementById("scrollBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>
{% endblock %}