{% extends 'topbar.html' %}
{% load static %}

{% block content %}
<div class="results">

    <!-- filters -->
        <form action="{% url 'change_filters' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ filters_form }}
            <!-- também dá para meter ele a atualizar
            logo q se carrega numa checkbox, mas nao sei
            se isso será mais chato pro user -->
            <button type="submit" value="{{ request.get_full_path }}" class="btn btn-primary">Apply</button>
        </form>
    <!-- end filters -->
    {% for tag_cluster in results.items %}
    <div class="album py-5 bg-mine">

    <div class="container">
    <p>{{ tag_cluster.0 }}</p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 g-6">
          {% for image in tag_cluster.1 %}
              {% if image.0 is not None %}
        <div class="col">
          <div class="card shadow-sm">
            {% with 'thumbnails'|add:'/'|add:image.0.hash|add:'.jpg' as image_static %}
              <img class="imageThumbnailInMenu" src="{% static image_static %}">
            {% endwith %}
            <div class="card-body">
              <p class="card-text">{{ image.0.name|truncatechars:16}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#resultDetails{{forloop.parentloop.counter}}{{ forloop.counter }}">View</button>
                </div> <!--btn group-->
              </div> <!--d-flex justify-content-between align-items-center-->
            </div> <!--card-body-->

          </div> <!--card shadow-sm-->
        </div> <!--col-->
<div class="modal fade detailsModal" id="resultDetails{{forloop.parentloop.counter}}{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image Details</h5>
        <button onclick="closeModal({{ forloop.parentloop.counter }}, {{forloop.counter}})" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <form id="imageDetailsForm" name="imageDetailsForm" action="{% url 'updateTags' hash=image.0.hash %}" method="post" enctype="multipart/form-data">
      <div class="modal-body">
          {% with '/thumbnails/'|add:image.0.hash|add:'.jpg' as imgPath %}
              <img class="imageThumbnail" src="{% static imgPath%}">
          {% endwith %}
              <div id="tagsDiv{{ forloop.parentloop.counter }}{{forloop.counter}}">{% for elem in image.1 %}
              #{{ elem.name }}
              {% endfor %} <i id="editTagsIcon" onclick="divClicked({{ forloop.parentloop.counter }}, {{forloop.counter}})" class="fas fa-pencil-alt"></i> </div>
              <input style="display: none" class="inner-textarea" type="textarea" name="tagsTextarea" id="tagsTextarea{{ forloop.parentloop.counter }}{{forloop.counter}}" size="60%" value="{% for elem in image.1 %} #{{ elem.name }}{% endfor %}">
                <p class="imagePath">Path: {{ image.0.folder_uri }}/{{ image.0.name }}</p>
              <p>Dimensions: {{ image.0.width }}x{{ image.0.height }}</p>
              {% if not image.0.creation_date is None %}
                    <p class="card-text">Creation Date: {{ image.0.creation_date }}</p>
                {% endif %}
      </div>
        <div class="modal-footer">
        <button onclick="closeModal({{ forloop.parentloop.counter }}, {{forloop.counter}})" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
              {% endif %}
              {% endfor %}
      </div> <!--row-->
    </div>
  </div>
    {% endfor %}
{% with 'img/arrow-up.svg' as myarrow %}
    <button onclick="topFunction()" id="scrollBtn" title="Go to top"><img src="{% static myarrow %}"></button>
{% endwith %}
</div>
    <script>
    function divClicked(tagCounter, resultCounter) {
        // concatenate numbers
        var str = tagCounter.toString() + resultCounter.toString();

        // get elements
        var tagsDiv = document.getElementById("tagsDiv" + str);
        var textArea = document.getElementById("tagsTextarea" + str);

        // change display style
        tagsDiv.style.display = "none";
        textArea.style.display = "block";
    }

    function closeModal(tagCounter, resultCounter) {
        // concatenate numbers
        var str = tagCounter.toString() + resultCounter.toString();

        // get elements
        var tagsDiv = document.getElementById("tagsDiv" + str);
        var textArea = document.getElementById("tagsTextarea" + str);

        // change display style
        tagsDiv.style.display = "block";
        textArea.style.display = "none";
    }

        //Get the button:
        mybutton = document.getElementById("scrollBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    </script>
{% endblock %}