{% extends 'topbar.html' %}
{% load static %}
{%  block content %}

<style>
    html, body {
        overflow: hidden;
    }
</style>
<div style="overflow-y: hidden; width:100%; height: 100vh; margin-top: -1.5%" class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    <div>
        <img class="landingPageLogo" src="{% static '/img/imageable.png' %}">
        <p class="landingPageTitle">Reimagine your past</p>
        <p class="landingPageParagraph">A system responsible for searching and retrieving images from a large amount of data</p>
    </div>

    </div >

{% endblock %}