{% extends 'topbar.html' %}
{% load static %}
{% block content %}
    <div>
        <div style="margin-top: auto; width: 30%; text-align: center;" class="center-small centerAll">
            <h2 class="title">All Verified People Names</h2>
                {%  for key, val in people.items %}
                    <h4 style="margin-top: 5%; text-align: center; font-size: 4vw;"> {{ key }}</h4>
                <ul>
                    {% for elem in val %}
                  <li style="list-style-type: none; margin-left: -1.7em;"><a style="font-size: 1.5vw;" href="/results?query={{ elem }}">{{ elem }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}
        </div>
    </div>
{% endblock %}