Django==3.2
django-neomodel==0.0.6
elasticsearch~=7.12.1
elasticsearch-dsl==7.3.0
exif==1.2.2
face_recognition
imutils==0.5.4
Keras~=2.4.3
matplotlib
neo4j-driver==4.1.1
neobolt==1.7.17
neomodel==4.0.2
nltk==3.6.2
numpy==1.20.2
numpyencoder==0.3.0
opencv-python==4.5.1.48
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pytesseract==0.3.7
Pillow~=8.2.0
pandas==1.2.4
seaborn==0.11.1
torch~=1.8.1
torchvision~=0.9.1
urllib3==1.26.4
